<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/admin/<%= id%>" method="POST">
        <input type="text" placeholder="Product Id" name= "id" value = <%= data.id %>>
        <br>
        <input type = "text" placeholder="Title" name="title" value = <%= data.title %>>
        <br>
        <input type = "text-area" placeholder="Description" name="desc" value = <%= data.desc %> >
        <br>
        <input type = "text" placeholder="Price" name = "price" value = <%=data.price %> >
        <br>
        <input type = "text-area" placeholder="Categories" name = "categories" value = <%= temp %> >
        <button type="Submit">Edit Item</button>
    </form>
    <a href="/logout"> Logout </a>
</body>
</html>